<%#= render partial: 'kaitekikun'%>
<%= render partial: 'records/kaitekikun'%>
<div class="okuri">申し送り一覧</div>


  <%# <%= current_user.nameさん  %>
  
  <% @records.each do |record| %>
  <table>
	  <tbody>
	  	<tr>

      <p><%=record.name%>さん・・・<%= record.message%></p>
       <%#= link_to "確認、完了後は削除してください", edit_record_path(record.id), method: :delete, , class: "hoge" %>
    </tr>
   <tr>
  </tr>

  <% end %>

 <%= link_to '戻る', root_path%>