<%= render partial: 'kaitekikun'%>

<div class="container">
    <h1 class="maintitle">新規登録する</h1>
    <%= form_with(model: @record, local: true) do |record| %>

    <%= render 'shared/error_messages', model: record.object %>


  <div class="inner">
     <h2> お名前：
     <%= record.text_field :name, placeholder: "入居者様氏名を記入" %>様
     </h2>
     <h2 class="roomNom">居室番号:
     <%= record.text_field :room, placeholder: "居室番号を入力" %>号室
     </h2>

    <div class="meal">
      <div class="inputItem">食事</div>
        <div class="input">
            <div class="f-item">朝
                <%= record.collection_select(:mealasa_id, Mealasa.all, :id, :name, {}, {class:"meal-select", id:"item-prefecture"}) %>
            </div>
            <div class="f-item">昼
                <%= record.collection_select(:mealhiru_id, Mealhiru.all, :id, :name, {}, {class:"meal-select", id:"item-prefecture"}) %>
            </div>
            <div class="f-item">夕
                <%= record.collection_select(:mealyuu_id, Mealyuu.all, :id, :name, {}, {class:"meal-select", id:"item-prefecture"}) %><br>
            </div>
        </div>
    </div>  

    <div class="moisture">
      <div class="inputItem">水分</div>
        <div class="input">
            <div class="f-item">朝
                <%= record.text_field :hydrationasa, placeholder: "水分",class:"hydration-select" %>
            </div>
            <div class="f-item">昼
                <%= record.text_field :hydrationhiru, placeholder: "水分",class:"hydration-select"%>
            </div>
            <div class="f-item">夕
                <%= record.text_field :hydrationyuu, placeholder: "水分",class:"hydration-select" %>
            </div>
       </div>
    </div>  

    <div class="emission">
      <div class="inputItem">排泄</div>
        <div class="input">
            <div class="f-item">朝
              <%= record.collection_select(:excretionasa_id, Excretionasa.all, :id, :name, {}, {class:"excretion-select", id:"item-prefecture"}) %>  
            </div>
            <div class="f-item">昼
              <%= record.collection_select(:excretionhiru_id, Excretionhiru.all, :id, :name, {}, {class:"excretion-select", id:"item-prefecture"}) %> 
            </div>
           <div class="f-item">夕
              <%= record.collection_select(:excretionyuu_id, Excretionyuu.all, :id, :name, {}, {class:"excretion-select", id:"item-prefecture"}) %> 
          </div>
        </div>
    </div>

    <div class="body_temperature">
      <div class="inputItem">体温</div>
        <div class="input">
            <div class="f-item">朝
              <%= record.text_field :vitalasa, placeholder: "体温",class:"vital-select"%>
            </div>
            <div class="f-item">昼
              <%= record.text_field :vitalhiru, placeholder: "体温",class:"vital-select"%>
            </div>
            <div class="f-item">夕
              <%= record.text_field :vitalyuu, placeholder: "体温",class:"vital-select"%>
            </div>
        </div>
    </div>

    <div class="bathing">
     <div class="inputItem">入浴</div>
        <%= record.collection_select(:bathe_id, Bathe.all, :id, :name, {}, {class:"bathe-select", id:"item-prefecture"}) %> 
    </div>
    
    <div class="night">
       <div class="inputItem">夜間</div>
          <%= record.collection_select(:nightrecord_id, Nightrecord.all, :id, :name, {}, {class:"nightrecord-select", id:"item-prefecture"}) %> 
    </div>

    <div class="everyday">
      <div class="inputItem">日常</div>
        <div class="text">
          <%= record.text_area :diary, placeholder: "血圧、脈。日常生活面での身体面、精神面の変化、または面会、カンファレンス、日中の活動内容、イベントがあれば記載",class:"diary"%>    
        </div>
    </div> 
     
    <div class="night_record">
      <div class="inputItem">夜間記録</div>
        <div class="text">
          <%= record.text_area :nightdiary, placeholder: "夜間時の排泄、水分、体交があれば記載",class:"nightdiary"%>
        </div>      
    </div>

    <div class="accident">
      <div class="inputItem">アクシデント</div>
        <div class="text">
          <%= record.text_area :accident, placeholder: "アクシデント発生時記入。必ず申し送りにも「アクシデント（）件」と記入すること",class:"accidentarea"%>  
        </div>
    </div>

    <div class="takeOver">
      <div class="inputItem">申し送り</div>
        <div class="text">
          <%= record.text_area :message, placeholder: "全体へ申し送りを送信する",class:"message"%>
        </div> 
    </div>

      <%= record.submit "送信する" %><br>
      <%= link_to '戻る', root_path%>
      

    <% end %>
  </div>
</div>