<%= render partial: 'kaitekikun'%>
<div class="greeting">
  こんにちは 
    <% if user_signed_in? %>
      <%= link_to current_user.name, class: "user-nickname"  %>
  さん。
    <%= link_to '申し送りを確認しましょう。', root_path, method: :delete, class: "index_mousiokuri" %>
   <p><%= link_to '  ログアウト/保存', destroy_user_session_path, method: :delete, class: "logout" %></p>
      <% else %>
            <%= link_to "ログイン", user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
    <%end%>
</div>

<table>
	<tbody>
		<tr>
			<td>　入居者様</td>
			<td>　　食事</td>
			<td>　　水分</td>
			<td>　　排泄</td>
			<td>　　体温</td>
			<td>　　入浴</td>
			<td>　　夜間</td>
			<td>　　日常</td>
			<td>アクシデント</td>
		</tr>
		<tr>
			<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
      </td>
			<td>
      <%#= f.collection_select(:meal_id, Meal.all, :id, :user_id, {}, {class:"genre-select"}) %>
      昼|a<br>
      夕|<br>
      </td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日|○|拒否</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
    	<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
    <td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
     <td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td> <% if user_signed_in? %>
      <%= link_to "登録/編集", root_path, class: "nyuukyosya_name" %>
      様
      <%end%>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>朝|昼|夕</td>
			<td>曜日</td>
			<td>良眠</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>